/* Centering the Sitemap */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffffff;
}
h1 {
    color: #000000;
}
/* Card Styling */
.card {
    max-width: 90%;
    width: 1200px; /* Adjust as needed */
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(0deg,  rgba(36, 122, 87, 1)0%,  rgba(40, 143, 118, 1) 0%, rgba(21, 207, 138, 1)78%,  rgba(45, 253, 170, 1)100%);
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #237A57;
}

/* Centering the Sitemap */
.sitemap-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}


/* Styling SVG Elements */
.sitemap-node {
    fill: #237A57;  /* Default Green */
    stroke: #2c3e50;
    stroke-width: 2px;
    cursor: pointer;
    transition: fill 0.3s ease;
}
.sitemap-node:hover {
    fill: #23422a; /* Darker Green on Hover */
}
/* Text inside SVG */
svg text {
    fill: #ffffff;  /* Change this color to your desired color */
    font-size: 14px;
    font-weight: bold;
    pointer-events: none;
}


/* Responsive SVG */
.svg {
    max-width: 1200px; /* Controls maximum size */
    width: 100%; /* Makes it responsive */
    height: auto;
    background: linear-gradient(to right, #65d17d, #1c1f27);
    border-radius: 20px;
    border: 2px solid black;
}

/* Footer Styling */
.footer {
    margin-top: 20px;
    background: #65d17d;
    color: white;
    padding: 10px;
    text-align: center;
}
.footer a {
    color: #0e0f0e;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}