body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

main {
    flex: 3;
}

aside {
    flex: 1;
    background-color: #f4f4f4;
    padding: 15px;
    border: 3px solid #237956;
    margin-right: 20px;
    border-radius: 20px;
    height: 10%;
}

section {
    margin-bottom: 20px;
    padding: 15px;
    border: 3px solid #237956;
    background-color: #fafafa;
    border-radius: 20px;
}

.ref li{
    list-style: lower-latin;
    padding-bottom: 9px;
}

aside a{
    text-decoration : none;
}

aside li{
    padding-bottom: 4px;
}

.stud {
    text-align: center;
    line-height: 0;
    background-color: #237A57;
    color: white;
    margin-top: 8px;
    border-radius: 0;
}

.top {
    position: fixed;
    bottom: 5%;
    right: 5%;
}

.top a {
    padding: 10px 20px;
    background-color: #2f9874;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}

.top a:hover {
    background-color: #237A57; /* Darker shade on hover */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
}

img{
    width: 90%;
}

/* Ensure links remain the same color even after clicking */
a:link,
a:visited {
    color: #000000;
    text-decoration: none;
}

.link-button {
    background-color: #2f9874;
    color: white;
    border: none;
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.link-button:hover {
    background-color: #237A57;
}
